.header {

  position: relative;
  height: 100vh;
  background-image: url("../../assets/images/PizzaImage1/Pizza1--large.jpg");
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: -100;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: .75;
  filter: brightness(50%);

  &__top {
    height: 115px;
    position: relative;
    /* background-color: green; */
    &__logo {
      /* background-color: yellow; */
      height: 100%;
      display: inline-block;
      @mixin textShadowBasic;
      &__text {
        line-height: 2.125rem;
        /* background-color: red; */
        &__primary {
          font-size: 3rem;
          display: block;
          letter-spacing: .425rem;
          font-family: 'Charm', cursive;
          color: #FFF;
          font-weight: 100;
        }
        &__secondary {
          display: block;
          font-weight: 400;
          letter-spacing: .125rem;
          font-family: 'Playfair Display', serif;
          text-align: right;
          color: $mainKhaki;
        }
      }
    }
    &__navigation {
      /* background-color: blue; */
      display: inline-block;
      float: right;
      position: absolute;
      top: 45%;
      right: 0;
      transform: translateY(-50%);
      & > a {
        padding: 20px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        @mixin textShadowBasic;
        &:visited {
          color: white;
        }
        &:hover {
          color: $mainKhaki;
          @mixin textShadowBasic;
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    &__message > span {
      display: block;
    }
    &__hours {
      color: #CCC;
      @mixin textShadowBasic;
    }
  }

  /* &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .75;
    filter: brightness(50%);
  } */


}
