.header {

  position: relative;
  height: 100vh;
  overflow: hidden;
  display: block;

  &__top {
    height: 115px;
    position: relative;
    &__logo {
      height: 100%;
      display: inline-block;
      @mixin textShadowBasic;
      &__text {
        line-height: 2.125rem;
        &__primary {
          font-size: 3rem;
          display: block;
          letter-spacing: .425rem;
          font-family: 'Charm', cursive;
          color: #FFF;
          font-weight: 100;
        }
        &__secondary {
          display: block;
          font-weight: 400;
          letter-spacing: .125rem;
          font-family: 'Playfair Display', serif;
          text-align: right;
          color: $mainKhaki;
        }
      }
    }
    &__navigation {
      display: inline-block;
      float: right;
      position: absolute;
      top: 45%;
      right: 0;
      transform: translateY(-50%);
      & > a {
        padding: 20px;
        text-decoration: none;
        color: white;
        font-weight: 700;
        @mixin textShadowBasic;
        &:visited {
          color: white;
        }
      }
    }
  }

  &__bottom {
    text-align: center;
    &__message > span {
      display: block;
    }
    &__hours {
      color: #CCC;
      @mixin textShadowBasic;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    display: block;
    background-repeat: no-repeat;
    width: 100%; /* TODO: Make image responsive */
    background-position: center;
    opacity: .75;
    filter: brightness(50%);
    height: 100%;
  }

}
