.menu-preview {
  background: url("./../../assets/images/CookingBoard/CookingBoard--large.jpg") top center no-repeat;
  background-size: cover;
  &__images {
    background-color: lightblue;
    margin: 20px;
    img {
      position: relative;
      width: 49%;
      height: 49%;
      &:hover {
        position: relative;
        width: 75%;
        height: 75%;
      }
    }
  }
}
